<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800391339545-djf87tvnfk7asv6rq303nrmet07seacf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800391339545-djf87tvnfk7asv6rq303nrmet07seacf</string>
	<key>API_KEY</key>
	<string>AIzaSyDcGPoVTXtCRktyt0rkdwD_VK1nCmKrjlk</string>
	<key>GCM_SENDER_ID</key>
	<string>800391339545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evenlyoapp</string>
	<key>PROJECT_ID</key>
	<string>evenlyo</string>
	<key>STORAGE_BUCKET</key>
	<string>evenlyo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>DOWNLOAD_FROM_FIREBASE_CONSOLE</string>
</dict>
</plist>
